/* 초기화 */
body,button,h1,h2,h3,h4,h5,h6,figure,p {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 영역 */
html {
    scroll-behavior: smooth;
}
body {
}
#head {width: 100%; height: 100%;}
#intro {width: 100%; height: 100%;}
#skills {width: 100%; height: 100%;}
#result1 {width: 100%; height: 100%;}
#result2 {width: 100%; height: 100%;}
#result3 {width: 100%; height: 100%;}
#the_others {width: 100%; height: 100%;}
#contacts {width: 100%; height: 100%;}

/* 컨테이너 영역 */
.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* 패럴랙스 */
#parallax {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 1000;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    opacity: 0.7;
}
/* 메뉴 */
#menu {
    position: relative;
}
#menu_btn {
    position: fixed;
    top: 20px; right: 40px;
    transition: 0.6s ease;
    z-index: 2;
}
#menu_btn > a {
    display: block;
    height: 36px;
    width: 36px;
    position: relative;
    cursor: pointer;
}
#menu_btn > a > span {
    display: block;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    border-radius: 25px;
}
#menu_btn > a > span.live {
    width: 0;
}
#menu_btn > a:hover > span {
    background-color: rgb(200, 27, 27);
}
#menu_btn > a > span::before {
    content: '';
    position: absolute;
    top: 15px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.3s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::before {
    transform: rotate(50deg);
}
#menu_btn > a:hover > span.live::before {
    background-color: rgb(0, 255, 149);
}
#menu_btn > a:hover > span::before {
    background-color: rgb(255, 115, 0);
}
#menu_btn > a > span::after {
    content: '';
    position: absolute;
    bottom: -30px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.6s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::after {
    transform: translateY(-250%) rotate(-50deg);
}
#menu_btn > a:hover > span.live::after {
    background-color: rgb(6, 98, 246);
}
#menu_btn > a:hover > span::after {
    background-color: rgb(228, 206, 11);
}
#menu_nav {
    width: 100%; height: 70px;
    z-index: 1;
    position: fixed;
    top: 0; right: 0;
    transition: 0.5s ease;
    transform: translateY(-80px);
    background-color: rgb(0, 0, 0, 0.1);
}
#menu_nav::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav.live {
    transform: translateY(0);
}
#menu_nav.live::before {
    width: 100%;
}
#menu_nav > ul {
    position: fixed;
    top: 20px; right: 100px;
    display: flex;
}
#menu_nav > ul > li {
    margin: 0 20px;
    position: relative;
}
#menu_nav > ul > li::before {
    content: '';
    position: absolute;
    top: 13px; left: 8px;
    width: 0; height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav > ul > li.live:nth-child(1)::before {
    width: 75px;
}
#menu_nav > ul > li.live:nth-child(2)::before {
    width: 78px;
}
#menu_nav > ul > li.live:nth-child(3)::before {
    width: 90px;
}
#menu_nav > ul > li.live:nth-child(4)::before {
    width: 90px;
}
#menu_nav > ul > li.live:nth-child(5)::before {
    width: 66px;
}
#menu_nav > ul > li > a {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.5s ease;
}
#menu_nav > ul > li > a:hover {
    color: rgb(161, 123, 123);
}

/* 탑 버튼 */
#topButton {
    position: fixed;
    bottom: 250px; right: 40px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
#topButton.show {
    opacity: 1;
}
#top_arrow_wrap {
    position: relative;
    width: 40px; height: 40px;
}
#top_arrow1 {
    position: absolute;
    bottom: 0; left: 5px;
    animation: topArrow 1s 0.3s ease-in-out infinite;
}
#top_arrow1 span {
    background-color: rgb(0, 0, 0, 0.3);
}
#top_arrow2 {
    position: absolute;
    bottom: 6px; left: 5px;
    animation: topArrow 1s 0.2s ease-in-out infinite;
}
#top_arrow2 span {
    background-color: rgb(0, 0, 0, 0.6);
}
#top_arrow3 {
    position: absolute;
    bottom: 12px; left: 5px;
    animation: topArrow 1s 0.1s ease-in-out infinite;
}
#top_arrow3 span {
    background-color: rgb(0, 0, 0, 0.9);
}
.top_arrow_barWrap {
    width: 30px; height: 20px;
    position: relative;
}
.top_arrow_bar1 {
    position: absolute;
    content: '';
    top: 9px; left: 12px;
    transform: rotate(50deg);
    width: 20px; height: 2px;
    border-radius: 2px;
}
.top_arrow_bar2 {
    position: absolute;
    content: '';
    top: 9px; left: 0px;
    transform: rotate(-50deg);
    width: 20px; height: 2px;
    border-radius: 2px;
}
#top_button > a {
    width: 40px; height: 40px;
    display: block;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.3);
    text-align: center;
    line-height: 2;
    cursor: pointer;
}
#top_button:hover > a {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* 헤더 영역 */
#header {
    height: 100%;
    overflow: hidden;
}
#header_title {
    width: 100%;
    position: absolute;
    top: 390px; left: -25px;
}
#header_title > svg {
    width: 100%;
    overflow: visible;
}
#header_title > svg > text {
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    animation: stroke 5s;
    fill: rgb(58, 58, 58);
}
#header_title > svg.tit2 {
    display: none;
}
#header_title > svg.tit3 {
    display: none;
}
#header_bg1 {
    width: 100%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg1 5s ease;
    transform: translateX(20%);
}
#header_bg2 {
    width: 100%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.2);
    animation: bg2 5s ease;
    border-top: 3px solid rgb(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(0, 0, 0, 0.2);
}
#header_bg3 {
    width: 80%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg3 5s ease;
}

/* 인트로 영역 */
#introduction {
    height: 900px;
    position: relative;
}
#intro_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#intro_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 스킬 영역 */
#skill {
    height: 900px;
}
#skill_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#skill_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 결과물 1 */
#standard {
    height: 900px;
}
#standard_title {
    position: absolute;
    top: 60px; right: 45px;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#standard_desc {
    position: absolute;
    top: 237px; right: 63px;
    font-size: 30px;
    width: 40%;
}
#standard_img {
    position: absolute;
    top: 86px; left: 42px;
    width: 50%;
}
#standard_img > img {
    width: 100%;
}
/* 결과물 2 */
#responsive {
    height: 900px;
}
#responsive_title {
    position: absolute;
    top: 60px; right: 45px;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#responsive_desc {
    position: absolute;
    top: 237px; right: 145px;
    font-size: 30px;
    width: 40%;
}
#responsive_img_pc {
    position: absolute;
    top: 86px; left: 95px;
    width: 40%;
}
#responsive_img_pc > img {
    width: 100%;
}
#responsive_img_tablet {
    position: absolute;
    top: 400px; left: 42px;
    width: 17%;
}
#responsive_img_tablet > img {
    width: 100%;
}
#responsive_img_mobile {
    position: absolute;
    top: 400px; left: 649px;
    width: 10%;
}
#responsive_img_mobile > img {
    width: 100%;
}
/* 결과물 3 */
#mega {
    height: 900px;
    position: relative;
}
#mega_title {
    position: absolute;
    top: 60px; right: 169px;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#mega_desc {
    position: absolute;
    top: 237px; right: 145px;
    font-size: 30px;
    width: 40%;
}
#mega_img_pc {
    position: absolute;
    top: 86px; left: 95px;
    width: 40%;
}
#mega_img_pc > img {
    width: 100%;
}
#mega_img_tablet {
    position: absolute;
    top: 400px; left: 42px;
    width: 17%;
}
#mega_img_tablet > img {
    width: 100%;
}
#mega_img_mobile {
    position: absolute;
    top: 400px; left: 649px;
    width: 10%;
}
#mega_img_mobile > img {
    width: 100%;
}
/* the others */
#others {
    height: 900px;
}
#others_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#others_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* contact */
#contact {
    height: 900px;
}
#contact_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#contact_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}

/* 애니메이션 */
@keyframes bg1 {
    0% {opacity: 0.1; transform: translateX(100%);}
    100% {opacity: 1; transform: translateX(20%);}
}

@keyframes bg2 {
    0% {opacity: 0.1; transform: scale(1);}
    50% {opacity: 0.5; transform: scale(3);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes bg3 {
    0% {opacity: 0.1; width: 0%;}
    100% {opacity: 1; width: 80%;}
}

@keyframes stroke {
    0%   {
        fill: rgb(255, 255, 255); stroke: rgb(160, 160, 160);
        stroke-dashoffset: 20%; stroke-dasharray: 0 50%; stroke-width: 1;
    }
    70%  {fill: rgb(255, 255, 255); stroke: rgb(156, 156, 156); stroke-width: 2;}
    80%  {fill: rgb(255, 255, 255); stroke: rgb(148, 148, 148); stroke-width: 3; }
    100% {
        fill: rgb(58, 58, 58, 0.6); stroke: rgb(255, 255, 255); 
        stroke-dashoffset: -20%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

@keyframes topArrow {
    0% {transform: translateY(0px);}
    50% {opacity: 0.5;}
    100% {transform: translateY(-15px); opacity: 0;}
}

/* 미디어 쿼리(반응형) */
@media (max-width: 1280px) {
    .container {width: 100%;}
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}