/* 초기화 */
body,button,h1,h2,h3,h4,h5,h6,figure {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 영역 */
html {
    scroll-behavior: smooth;
}
body {
}
#head {width: 100%; height: 100%;}
#intro {width: 100%; height: 100%;}
#skills {width: 100%; height: 100%;}
#result1 {width: 100%; height: 100%;}
#result2 {width: 100%; height: 100%;}
#result3 {width: 100%; height: 100%;}
#the_others {width: 100%; height: 100%;}
#contacts {width: 100%; height: 100%;}

/* 컨테이너 영역 */
.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* 패럴랙스 */
#parallax {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 1000;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    opacity: 0.7;
}
/* 메뉴 */
#menu {
    position: relative;
}
#menu_btn {
    position: fixed;
    top: 20px; right: 40px;
    transition: 0.6s ease;
    z-index: 2;
}
#menu_btn > a {
    display: block;
    height: 36px;
    width: 36px;
    position: relative;
    cursor: pointer;
}
#menu_btn > a > span {
    display: block;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    border-radius: 25px;
}
#menu_btn > a > span.live {
    width: 0;
}
#menu_btn > a:hover > span {
    background-color: rgb(200, 27, 27);
}
#menu_btn > a > span::before {
    content: '';
    position: absolute;
    top: 15px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.3s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::before {
    transform: rotate(50deg);
}
#menu_btn > a:hover > span.live::before {
    background-color: rgb(0, 255, 149);
}
#menu_btn > a:hover > span::before {
    background-color: rgb(255, 115, 0);
}
#menu_btn > a > span::after {
    content: '';
    position: absolute;
    bottom: -30px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.6s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::after {
    transform: translateY(-250%) rotate(-50deg);
}
#menu_btn > a:hover > span.live::after {
    background-color: rgb(6, 98, 246);
}
#menu_btn > a:hover > span::after {
    background-color: rgb(228, 206, 11);
}
#menu_nav {
    width: 100%; height: 70px;
    z-index: 1;
    position: fixed;
    top: 0; right: 0;
    transition: 0.5s ease;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    transform: translateY(-80px);
    background-color: white;
}
#menu_nav::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav.live {
    transform: translateY(0);
}
#menu_nav.live::before {
    width: 100%;
}
#menu_nav > ul {
    position: fixed;
    top: 20px; right: 100px;
    display: flex;
}
#menu_nav > ul > li {
    margin: 0 20px;
    position: relative;
}
#menu_nav > ul > li::before {
    content: '';
    position: absolute;
    top: 13px; left: 8px;
    width: 0; height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav > ul > li.live:nth-child(1)::before {
    width: 75px;
}
#menu_nav > ul > li.live:nth-child(2)::before {
    width: 78px;
}
#menu_nav > ul > li.live:nth-child(3)::before {
    width: 90px;
}
#menu_nav > ul > li.live:nth-child(4)::before {
    width: 90px;
}
#menu_nav > ul > li.live:nth-child(5)::before {
    width: 66px;
}
#menu_nav > ul > li > a {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.5s ease;
}
#menu_nav > ul > li > a:hover {
    color: rgb(149, 134, 134);
}

/* 탑 버튼 */
#topButton {
    position: fixed;
    bottom: 250px; right: 40px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
#topButton.show {
    opacity: 1;
}
#top_arrow_wrap {
    position: relative;
    width: 40px; height: 40px;
}
#top_arrow1 {
    position: absolute;
    bottom: 0; left: 5px;
    animation: topArrow 1s 0.3s ease-in-out infinite;
}
#top_arrow1 span {
    background-color: rgb(0, 0, 0, 0.3);
}
#top_arrow2 {
    position: absolute;
    bottom: 6px; left: 5px;
    animation: topArrow 1s 0.2s ease-in-out infinite;
}
#top_arrow2 span {
    background-color: rgb(0, 0, 0, 0.6);
}
#top_arrow3 {
    position: absolute;
    bottom: 12px; left: 5px;
    animation: topArrow 1s 0.1s ease-in-out infinite;
}
#top_arrow3 span {
    background-color: rgb(0, 0, 0, 0.9);
}
.top_arrow_barWrap {
    width: 30px; height: 20px;
    position: relative;
}
.top_arrow_bar1 {
    position: absolute;
    content: '';
    top: 9px; left: 12px;
    transform: rotate(50deg);
    width: 20px; height: 2px;
    border-radius: 2px;
}
.top_arrow_bar2 {
    position: absolute;
    content: '';
    top: 9px; left: 0px;
    transform: rotate(-50deg);
    width: 20px; height: 2px;
    border-radius: 2px;
}
#top_button > a {
    width: 40px; height: 40px;
    display: block;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2;
    cursor: pointer;
}
#top_button:hover > a {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* 헤더 영역 */
#header {
    height: 910px;
}
#header_title {
    width: 100%;
    position: absolute;
    top: 390px; left: -25px;
}
#header_title > svg {
    width: 100%;
    overflow: visible;
}
#header_title > svg > text {
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    animation: stroke 5s;
    fill: rgb(58, 58, 58);
}
#header_title > svg.tit2 {
    display: none;
}
#header_title > svg.tit3 {
    display: none;
}
#header_bg1 {
    width: 100%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg1 5s ease;
}
#header_bg2 {
    width: 100%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.2);
    animation: bg2 5s ease;
    border-top: 3px solid rgb(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(0, 0, 0, 0.2);
}
#header_bg3 {
    width: 100%;
    height: 310px;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg3 5s ease;
}

/* 인트로 영역 */
#introduction {
    height: 900px;
    position: relative;
}
#intro_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#intro_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 스킬 영역 */
#skill {
    height: 900px;
}
#skill_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#skill_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 결과물 1 */
#standard {
    height: 900px;
}
#standard_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#standard_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 결과물 2 */
#responsive {
    height: 900px;
}
#responsive_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#responsive_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* 결과물 3 */
#mega {
    height: 900px;
    position: relative;
}
#mega > #mega_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: 1s 0.1s ease;
    transform: translateX(-200px);
}
#mega > #mega_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    opacity: 0;
    transition: 1s 0.1s ease;
    transform: translateX(-200px);
}
#mega.show > #mega_title1 {
    opacity: 1;
    transform: translateX(0px);
}
#mega.show > #mega_title2 {
    opacity: 1;
    transform: translateX(0px);
}
#mobile_mega_wrap {
    position: absolute;
    top: 376px; left: 25px;
    z-index: 1;
    opacity: 0;
    transition: 1s 0.4s ease;
}
#mega.show > #mobile_mega_wrap {
    opacity: 1;
}
#mobile_mega {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    position: relative;
}
#mobile_mega_screen {
    width: 170px;
    height: 250px;
    border-radius: 10px;
    margin-top: 13px;
    border: 2px solid rgb(218, 165, 32, 0.4);
    overflow: hidden;
}
#mobile_mega_screen > img {
    width: 100%;
    border-radius: 3px;
}
#mobile_mega_btn {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 0px; left: 85px;
    background-color: white;
}
#mobile_mega_btn_rect {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    bottom: 6px; left: 6.1px;
    border-radius: 1px;
}
#tablet_mega_wrap {
    position: absolute;
    top: 312px; left: 475px;
    z-index: 1;
    opacity: 0;
    transition: 1s 0.7s ease;
}
#mega.show > #tablet_mega_wrap {
    opacity: 1;
}
#tablet_mega {
    width: 370px;
    height: 550px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    position: relative;
}
#tablet_mega_screen {
    width: 340px;
    height: 500px;
    border-radius: 10px;
    margin-top: 13px;
    border: 2px solid rgb(218, 165, 32, 0.4);
    overflow: hidden;
}
#tablet_mega_screen > img {
    width: 100%;
    border-radius: 3px;
}
#tablet_mega_btn {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 0px; left: 173px;
    background-color: white;
}
#tablet_mega_btn_rect {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    bottom: 6px; left: 6.1px;
    border-radius: 1px;
}
#pc_mega_wrap {
    position: absolute;
    top: 150px; left: 58px;
    opacity: 0;
    transition: 1s 1s ease;
}
#mega.show > #pc_mega_wrap {
    opacity: 1;
}
#pc_mega {
    width: 606px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    position: relative;
}
#pc_mega_screen {
    width: 576px;
    height: 350px;
    border-radius: 10px;
    margin-top: 13px;
    border: 2px solid rgb(218, 165, 32, 0.4);
    overflow: hidden;
}
#pc_mega_screen > img {
    width: 100%;
    border-radius: 3px;
}
#pc_mega_btn {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 0px; left: 285px;
    background-color: white;
}
#pc_mega_btn_rect {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    bottom: 6px; left: 6.1px;
    border-radius: 1px;
}
#pc_mege_holder1 {
    position: absolute;
    bottom: -67px; left: 284px;
    width: 35px;
    height: 67px;
    background-color: black;
}
#pc_mege_holder2 {
    position: absolute;
    bottom: -80px; left: 234px;
    width: 35px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
    border-radius: 50px;
}
/* the others */
#others {
    height: 900px;
}
#others_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#others_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}
/* contact */
#contact {
    height: 900px;
}
#contact_title1 {
    position: absolute;
    top: 0; left: 0;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    color: rgb(0, 0, 0, 0.4);
    transition: 1s 0.1s ease;
}
#contact_title2 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    margin: 15px 0 0 35px;
    position: absolute;
    top: -5px; left: -5px;
    color: rgb(32, 32, 170);
    transition: 1s 0.1s ease;
}

/* 애니메이션 */
@keyframes bg1 {
    0% {opacity: 0.1; transform: translateX(100%);}
    100% {opacity: 1; transform: translateX(0%);}
}

@keyframes bg2 {
    0% {opacity: 0.1; transform: scale(1);}
    50% {opacity: 0.5; transform: scale(3);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes bg3 {
    0% {opacity: 0.1; width: 0%;}
    100% {opacity: 1; width: 100%;}
}

@keyframes stroke {
    0%   {
        fill: rgb(255, 255, 255); stroke: rgb(160, 160, 160);
        stroke-dashoffset: 20%; stroke-dasharray: 0 50%; stroke-width: 1;
    }
    70%  {fill: rgb(255, 255, 255); stroke: rgb(156, 156, 156); stroke-width: 2;}
    80%  {fill: rgb(255, 255, 255); stroke: rgb(148, 148, 148); stroke-width: 3; }
    100% {
        fill: rgb(58, 58, 58, 0.6); stroke: rgb(255, 255, 255); 
        stroke-dashoffset: -20%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

@keyframes topArrow {
    0% {transform: translateY(0px);}
    50% {opacity: 0.5;}
    100% {transform: translateY(-15px); opacity: 0;}
}

/* 미디어 쿼리(반응형) */
@media (max-width: 1280px) {
    .container {width: 100%;}
}
@media (max-width: 1024px) {
    #header_right_title > svg > text {font-size: 150px;}
}
@media (max-width: 960px) {
    #header_right_title > svg > text {font-size: 130px;}
    #header_left_nav > ul > li > a {font-size: 20px;}
    #header_left_nav > ul {width: 100px;}
    #header_left_nav > ul > li > a:hover::after {width: 73px;}
    #header_left_nav > ul > li::before {top: 10px;}
}
@media (max-width: 768px) {
    #header_right_title > svg.tit1 {display: none;}
    #header_right_title > svg.tit2 {display: block;}
    #header_right_title > svg.tit3 {display: block;}
    #header_right_title > svg > text {font-size: 100px;}
    #header_right_title {top: 30px;}
}
@media (max-width: 600px) {
    #header_right_title > svg > text {font-size: 80px;}
    #header_right_title {left: 93px; width: 65%;}
    #header_left_nav > ul {width: 100px;}
    #header_right_title > svg.tit2 {height: 90px;}
    #header_right_title > svg.tit3 {height: 90px;}
    #header_right_title {top: 57px;}
}
@media (max-width: 480px) {
    #header_right_title > svg > text {font-size: 70px;}
    #header_left_nav > ul {width: 90px;}
    #header_right_title {left: 88px;}
}