/* 초기화 */
body,button,h1,h2,h3,h4,h5,h6,figure,p {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 영역 */
#wrap {display: none;}
#wrap.show {display: block;}

html {scroll-behavior: smooth;}
#head {width: 100%; background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}
#intro {padding: 100px 0; width: 100%; height: 100%; background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}
#skills {padding: 100px 0; width: 100%; height: 100%; background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}
#slide_wrap {padding: 100px 0; width: 100%; height: 100%; background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}
#the_others {padding: 100px 0; width: 100%; height: 100%; background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}
#contacts {padding: 100px 0; width: 100%; height: 100%; background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}

/* 컨테이너 영역 */
.container {
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#head > .container {
    padding: 0;
}

/* 팝업(오프닝) */
#popUp {
    transition: 1s ease;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: blanchedalmond;
}
#popUp.hide {
    opacity: 0;
    z-index: -1;
}
#popUp.show {
    transition: 0.5s ease;
    opacity: 1;
    z-index: 9999;
}
#popUp_img > img {
    margin-right: 20px;
    margin-bottom: 20px;
}
#popUp_img > img:last-child {
    margin: 0 0 20px 0;
}
#popUp_btn {
    position: absolute;
    top: 15px; right: 15px;
    width: 30px; height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
}
#popUp p:first-child {
    font-size: 25px;
    margin-bottom: 25px;
}
#popUp p {
    font-size: 18px;
    margin-bottom: 10px;
}
#popUp_count {
    font-size: 30px;
}
#popUp > div > span:last-child {
    font-size: 16px;
}
/* 패럴랙스 */
#parallax {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: -1;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    opacity: 0;
}
/* 메뉴 */
#menu {
    position: relative;
}
#menu_btn {
    position: fixed;
    top: 20px; right: 40px;
    transition: 0.6s ease;
    z-index: 3;
}
#menu_btn > a {
    display: block;
    height: 36px;
    width: 36px;
    position: relative;
    cursor: pointer;
}
#menu_btn > a > span {
    display: block;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    border-radius: 25px;
}
#menu_btn > a > span.live {
    width: 0;
}
#menu_btn > a:hover > span {
    background-color: rgb(200, 27, 27);
}
#menu_btn > a > span::before {
    content: '';
    position: absolute;
    top: 15px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.3s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::before {
    -webkit-transform: rotate(50deg);
}
#menu_btn > a:hover > span.live::before {
    background-color: rgb(0, 255, 149);
}
#menu_btn > a:hover > span::before {
    background-color: rgb(255, 115, 0);
}
#menu_btn > a > span::after {
    content: '';
    position: absolute;
    bottom: -30px; left: 0;
    background-color: black;
    width: 36px;
    height: 6px;
    transition: 0.6s ease;
    border-radius: 25px;
}
#menu_btn > a > span.live::after {
    -webkit-transform: translateY(-250%) rotate(-50deg);
}
#menu_btn > a:hover > span.live::after {
    background-color: rgb(6, 98, 246);
}
#menu_btn > a:hover > span::after {
    background-color: rgb(228, 206, 11);
}
#menu_nav {
    width: 100%; height: 70px;
    z-index: 2;
    position: fixed;
    top: 0; right: 0;
    transition: 0.5s ease;
    transform: translateY(-80px);
    background-color: rgb(0, 0, 0, 0.1);
}
#menu_nav::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav.live {
    transform: translateY(0);
}
#menu_nav.live::before {
    width: 100%;
}
#menu_nav > ul {
    position: fixed;
    top: 20px; right: 100px;
    display: flex;
}
#menu_nav > ul > li {
    margin: 0 20px;
}
#menu_nav > ul > li > a > span {
    position: relative;
    display: block;
}
#menu_nav > ul > li > a > span::before {
    content: '';
    position: absolute;
    top: 13px; left: 0;
    width: 0; height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transition: 1s ease;
}
#menu_nav > ul > li.live:nth-child(1) > a > span::before {
    width: 100%;
}
#menu_nav > ul > li.live:nth-child(2) > a > span::before {
    width: 100%;
}
#menu_nav > ul > li.live:nth-child(3) > a > span::before {
    width: 100%;
}
#menu_nav > ul > li.live:nth-child(4) > a > span::before {
    width: 100%;
}
#menu_nav > ul > li.live:nth-child(5) > a > span::before {
    width: 100%;
}
#menu_nav > ul > li > a {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.5s ease;
}
#menu_nav > ul > li > a:hover {
    color: rgb(161, 123, 123);
}

/* 탑 버튼 */
#topButton {
    position: fixed;
    bottom: 250px; right: 20px;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topButton.show {
    opacity: 1;
    z-index: 2;
}
#top_arrow_wrap {
    position: relative;
    width: 32px; height: 32px;
    animation: topArrow 1s ease infinite;
}
#top_button > a {
    width: 40px; height: 40px;
    display: block;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: black;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.3);
    text-align: center;
    line-height: 2;
    cursor: pointer;
    transition: 0.5s ease;
}
#top_button:hover > a {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* 헤더 영역 */
#header {
    height: 100vh;
    overflow: hidden;
}
#header_title {
    width: 100%;
    position: absolute;
    top: 390px; left: -25px;
}
#header_title > svg {
    width: 100%;
    overflow: visible;
}
#header_title > svg > text {
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    animation: stroke 5s;
    fill: rgb(58, 58, 58);
}
#header_title > svg.tit2 {
    display: none;
}
#header_title > svg.tit3 {
    display: none;
}
#header_bg1 {
    width: 100%;
    height: 33.33%;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg1 5s ease;
    transform: translateX(20%);
}
#header_bg2 {
    width: 100%;
    height: 33.33%;
    background-color: rgb(0, 0, 0, 0.2);
    animation: bg2 5s ease;
    border-top: 3px solid rgb(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(0, 0, 0, 0.2);
}
#header_bg3 {
    width: 80%;
    height: 33.33%;
    background-color: rgb(0, 0, 0, 0.1);
    animation: bg3 5s ease;
}

/* 인트로 영역 */
#introduction {
    display: flex;
}
#intro_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#introduction_left {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#introduction_left_imgWrap {
    position: relative;
    width: 530px;
    height: 530px;
}
#introduction_left_border {
    position: absolute;
    top: 0; left: 0;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    z-index: 1;
}
#introduction_left_img {
    position: absolute;
    bottom: 0; right: 0;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.1);
    background: url(../img/bestM01.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}
#introduction_right {
    width: 100%;
    height: 100%;
    position: relative;
}
#introduction_right_title {
    font-size: 70px;
    margin: 0 0 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#introduction_right_bar {
    width: 350px;
    height: 10px;
    margin: 0 0 30px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}
#introduction_right_desc {
    font-size: 30px;
    margin: 0 0 30px 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#introduction_right_btn {
    position: relative;
    width: 80px;
    height: 35px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#introduction_right_btn:hover {
    background-color: rgb(0, 0, 0);
}
#introduction_right_btn > span {
    position: absolute;
    top: -3px; left: 0;
    display: flex;
    width: 82px;
    height: 37px;
    transform: translateX(-67px);
    transition: 0.5s ease;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}
#introduction_right_btn > span > span {
    display: block;
    line-height: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
#introduction_right_btn > span > span:nth-child(2) {
    font-size: 20px;
    margin-left: 14px;
}
#introduction_right_btn:hover > span {
    transform: translateX(9px);
}
#introduction_right_btn > span:hover > span:nth-child(1) {
    color: rgb(255, 255, 255);
}
#introduction_right_detail {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0, 0.2);
    background-color: white;
    display: none;
    transition: 0.5s ease-in-out;
    padding: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
#introduction_right_detail_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
#introduction_right_detail_btn {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 0; right: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s ease;
}
#introduction_right_detail_btn:hover {
    opacity: 1;
}
.introduction_right_detail_desc {
    margin-bottom: 30px;
}
.introduction_right_detail_desc:last-child {
    margin: 0;
}
.introduction_right_detail_desc h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
}
.introduction_right_detail_desc ul li {
    font-size: 20px;
}
/* 스킬 영역 */
#skill {
    height: 100%;
    display: flex;
    justify-content: center;
}
#skill_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#skill_left {
    padding: 0 60px 0 20px;
    width: 550px;
    opacity: 0;
    transition: 1s ease-in-out;
}
#skills.live #skill_left {
    opacity: 1;
}
#skill_left > h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}
#skill_left > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
#skill_right {
    padding: 0 20px 0 60px;
    width: 550px;
    opacity: 0;
    transition: 1s ease-in-out;
}
#skills.live #skill_right {
    opacity: 1;
}
#skill_right > h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}
#skill_right > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
#skill_right #skill_ai {
    margin-bottom: 70px;
}
.skill_list {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.bar_wrap {
    position: absolute;
    top: 0; right: 0;
}
.bar_wrap > div {
    position: relative;
    width: 400px;
    height: 15px;
}
.bar_bottom {
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.1);
}
.bar_top {
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 300px;
    height: 100%;
    background-color: black;
}
#skill_html > .bar_wrap > div > .bar_top {
    width: 85%;
}
#skills.live #skill_html > .bar_wrap > div > .bar_top {
    width: 85%;
    animation: html 2.5s ease;
}
#skill_css > .bar_wrap > div > .bar_top {
    width: 80%;
}
#skills.live #skill_css > .bar_wrap > div > .bar_top {
    width: 80%;
    animation: css 2.5s ease;
}
#skill_js > .bar_wrap > div > .bar_top {
    width: 60%;
}
#skills.live #skill_js > .bar_wrap > div > .bar_top {
    width: 60%;
    animation: js 2.5s ease;
}
#skill_jq > .bar_wrap > div > .bar_top {
    width: 65%;
}
#skills.live #skill_jq > .bar_wrap > div > .bar_top {
    width: 65%;
    animation: jq 2.5s ease;
}
#skill_ps > .bar_wrap > div > .bar_top {
    width: 45%;
}
#skills.live #skill_ps > .bar_wrap > div > .bar_top {
    width: 45%;
    animation: ps 2.5s ease;
}
#skill_ai > .bar_wrap > div > .bar_top {
    width: 35%;
}
#skills.live #skill_ai > .bar_wrap > div > .bar_top {
    width: 35%;
    animation: ai 2.5s ease;
}
#skill_react > .bar_wrap > div > .bar_top {
    width: 40%;
}
#skills.live #skill_react > .bar_wrap > div > .bar_top {
    width: 40%;
    animation: react 2.5s ease;
}
.skill_desc {
    position: absolute;
    bottom: 0; left: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    width: 300px;
    display: block;
}
.skill_img {
    width: 110px;
}
.skill_percent {
    display: block;
    position: absolute;
    bottom: 56px; right: 0;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 슬라이드(결과물) */
#slide_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.btn {
    cursor: pointer;
    position: absolute;
    display: block;
    opacity: 0.5;
    transition: 0.5s ease;
}
.btn:hover {
    opacity: 1;
}
#prev {
    top: 50%; left: 0;
}
#next {
    top: 50%; right: 0;
}
#slide_nav {
    justify-content: center;
    display: flex;
    margin-top: 25px;
}
#slide_nav .nav {
    width: 30px; height: 30px;
    background-color: black;
    opacity: 0.5;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
#slide_nav .nav:last-child {
    margin: 0;
}
/* 결과물 1 */
#standard_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#standard {
    display: flex;
}
#standard_left {
    width: 100%;
    margin: 0 0 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
#standard_img {
    width: 90%;
}
#standard_img > img {
    width: 100%;
}
#standard_right {
    width: 100%;
    padding: 0 40px 0 40px;
}
#standard_right > ul {
    margin: 0 0 40px 0;
}
.standard_desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.standard_desc > img {
    margin-right: 20px;
}
.standard_desc > img:last-child {
    margin: 0;
}
.standard_desc > span {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
}
.standard_desc em {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 2px 3px rgb(0, 0, 0, 0.2);
    margin-right: 20px;
}
#standard_btn {
    width: 300px;
    height: 50px;
}
#standard_btn > a:hover {
    background-color: black;
    color: white;
}
#standard_btn > a {
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s ease;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
}
/* 결과물 2 */
#responsive_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#responsive {
    display: flex;
}
#responsive_left {
    width: 100%;
    margin: 0 0 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
#responsive_right {
    width: 100%;
    padding: 0 40px 0 40px;
}
#responsive_right > ul {
    margin: 0 0 40px 0;
}
.responsive_desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.responsive_desc > img {
    margin-right: 20px;
}
.responsive_desc > img:last-child {
    margin: 0;
}
.responsive_desc > span {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
}
.responsive_desc em {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 2px 3px rgb(0, 0, 0, 0.2);
    margin-right: 20px;
}
#responsive_img_pc {
    width: 90%;
}
#responsive_img_pc > img {
    width: 100%;
}
#responsive_img_tablet {
    width: 30%;
    position: absolute;
    bottom: 0; left: 0;
}
#responsive_img_tablet > img {
    width: 100%;
}
#responsive_img_mobile {
    width: 16%;
    position: absolute;
    bottom: 0; right: 0;
}
#responsive_img_mobile > img {
    width: 100%;
}
#responsive_btn {
    width: 300px;
    height: 50px;
}
#responsive_btn > a:hover {
    background-color: black;
    color: white;
}
#responsive_btn > a {
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s ease;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
}
/* 결과물 3 */
#mega_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#mega {
    display: flex;
}
#mega_left {
    width: 100%;
    margin: 0 0 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
#mega_right {
    width: 100%;
    padding: 0 40px 0 40px;
}
#mega_right > ul {
    margin: 0 0 40px 0;
}
.mega_desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.mega_desc > img {
    margin-right: 20px;
}
.mega_desc > img:last-child {
    margin: 0;
}
.mega_desc > span {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
}
.mega_desc em {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 2px 3px rgb(0, 0, 0, 0.2);
    margin-right: 20px;
}
#mega_img_pc {
    width: 90%;
}
#mega_img_pc > img {
    width: 100%;
}
#mega_img_tablet {
    width: 30%;
    position: absolute;
    bottom: 0; left: 0;
}
#mega_img_tablet > img {
    width: 100%;
}
#mega_img_mobile {
    width: 16%;
    position: absolute;
    bottom: 0; right: 0;
}
#mega_img_mobile > img {
    width: 100%;
}
#mega_btn {
    width: 300px;
    height: 50px;
}
#mega_btn > a:hover {
    background-color: black;
    color: white;
}
#mega_btn > a {
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s ease;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
}
/* the others */
#others {
    height: 100%;
    display: flex;
    justify-content: center;
}
#others_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#animation_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1050px;
}
.animation_box {
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.animation_box:nth-child(1) {
    margin: 0 25px 25px 0;
}
.animation_box:nth-child(2) {
    margin: 0 0 25px 0;
}
.animation_box:nth-child(3) {
    margin: 0 25px 0 0;
}
.animation_title {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding: 10px 0;
}
.animation_main {
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
}
.animation_text {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.animation_text:hover {
    opacity: 1;
}
.animation_text > p {
    font-size: 25px;
    padding: 0 20px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 큐브 애니메이션 */
.cube {
    position: relative;
    width: 100px; height: 100px;
    transform-style: preserve-3d;
    transform: rotatex(-20deg) rotatey(-140deg);
    animation: rotate 8s linear infinite;
}
.cube div {
    display: flex;
    position: absolute;
    top: 0; left: 0;
    align-items: center;
    justify-content: center;
    width: 100px; height: 100px;
    opacity: 0.8;
    color: #fff;
}
.cube div:nth-child(1) {
    background: #ffcc80;
    transform-origin: center top;
    transform: rotatex(90deg) translatey(-100px);
    animation: top 4s 4s ease-in-out infinite;
}
.cube div:nth-child(2) {
    background: #ffb74d;
    transform-origin: center bottom;
    transform: rotatex(-90deg) translatey(100px);
    animation: bottom 4s 4s ease-in-out infinite;
}
.cube div:nth-child(3) {
    background: #ffa726;
    transform-origin: center left;
    transform: rotatey(-90deg) translatex(-100px);
    animation: left 4s 4s ease-in-out infinite;
}
.cube div:nth-child(4) {
    background: #ff9800;
    transform-origin: center right;
    transform: rotatey(90deg) translatex(100px);
    animation: right 4s 4s ease-in-out infinite;
}
.cube div:nth-child(5) {
    background: #fb8c00;
    transform-origin: center front;
    transform: rotatey(180deg) translatex(0px);
    animation: front 4s 4s ease-in-out infinite;
}
.cube div:nth-child(6) {
    background: #f57c00;
    transform-origin: center center;
    transform: rotatex(180deg) translatez(100px);
    animation: back 4s 4s ease-in-out infinite;
}
@keyframes rotate {
    0% {transform: rotatex(0deg) rotatey(0deg);}
    100% {transform: rotatex(360deg) rotatey(360deg);}
}
@keyframes top {
    0% {transform: rotatex(90deg) translatey(-50px) translatez(0);}
    50% {transform: rotatex(90deg) translatey(-50px) translatez(50px);}
    100% {transform: rotatex(90deg) translatey(-50px) translatez(0);}
}
@keyframes bottom {
    0% {transform: rotatex(-90deg) translatey(50px) translatez(0);}
    50% {transform: rotatex(-90deg) translatey(50px) translatez(50px);}
    100% {transform: rotatex(-90deg) translatey(50px) translatez(0);}
}
@keyframes left {
    0% {transform: rotatey(-90deg) translatex(-50px) scaley(1);}
    50% {transform: rotatey(-90deg) translatex(-50px) scaley(2);}
    100% {transform: rotatey(-90deg) translatex(-50px) scaley(1);}
}
@keyframes right {
    0% {transform: rotatey(90deg) translatex(50px) scaley(1);}
    50% {transform: rotatey(90deg) translatex(50px) scaley(2);}
    100% {transform: rotatey(90deg) translatex(50px) scaley(1);}
}
@keyframes front {
    0% {transform: rotatey(180deg) translatez(-50px) scaley(1);}
    50% {transform: rotatey(180deg) translatez(-50px) scaley(2);}
    100% {transform: rotatey(180deg) translatez(-50px) scaley(1);}
}
@keyframes back {
    0% {transform: rotatex(180deg) translatez(50px) scaley(1);}
    50% {transform: rotatex(180deg) translatez(50px) scaley(2);}
    100% {transform: rotatex(180deg) translatez(50px) scaley(1);}
}
/* 테일 애니메이션 */
.circle {
    position: absolute;
    animation: movex 2s ease-in-out alternate infinite;
}
.circle > div {
    width: 50px; height: 50px;
    background: rgba(13, 82, 230);
    border-radius: 50%;
    animation: movey 2s linear infinite;
}
.circle:nth-of-type(2) > div {
    width: 40px; height: 40px;
    opacity: 0.8;
}
.circle:nth-of-type(3) > div {
    width: 30px; height: 30px;
    opacity: 0.6;
}
.circle:nth-of-type(4) > div {
    width: 20px; height: 20px;
    opacity: 0.4;
}
.circle:nth-of-type(5) > div {
    width: 10px; height: 10px;
    opacity: 0.2;
}
.circle:nth-of-type(2),
.circle:nth-of-type(2) > div {
    animation-delay: 0.1s;
}
.circle:nth-of-type(3),
.circle:nth-of-type(3) > div {
    animation-delay: 0.2s;
}
.circle:nth-of-type(4),
.circle:nth-of-type(4) > div {
    animation-delay: 0.3s;
}
.circle:nth-of-type(5),
.circle:nth-of-type(5) > div {
    animation-delay: 0.4s;
}
@keyframes movex {
    0% {transform: translate(-100px,0);}
    100% {transform: translate(100px,0);}
}
@keyframes movey {
    0% {transform: translate(0,0);}
    25% {transform: translate(0,-80px);}
    50% {transform: translate(0,80px);}
    75% {transform: translate(0,-80px);}
    100% {transform: translate(0,0;)}
}
/* 웨이브 애니메이션 */
.row {
    display: flex;
}
.circle2 {
    width: 20px; height: 20px;
    background: rgba(238, 4, 4, 0.8);
    margin: 10px;
    border-radius: 50%;
    transform-origin: top;
    animation: spin 1s linear infinite;
}
.row:nth-child(1) .circle2 {animation-delay: 100ms;}
.row:nth-child(2) .circle2 {animation-delay: 200ms;}
.row:nth-child(3) .circle2 {animation-delay: 300ms;}
.row:nth-child(4) .circle2 {animation-delay: 400ms;}
.row:nth-child(5) .circle2 {animation-delay: 500ms;}
.row:nth-child(6) .circle2 {animation-delay: 600ms;}
@keyframes spin {
    0% {transform: rotate(0) scale(1.0);}
    50% {transform: rotate(180deg) scale(0.3);}
    100% {transform: rotate(360deg) scale(1.0);}
}
/* 바 애니메이션 */
.bar {
    background: rgb(255, 102, 0, 0.8);
    width: 4px; height: 300px;
    animation: bar 2s ease-in-out infinite;
}
@keyframes bar {
    0% {transform: rotate(0); height: 0;}
    25% {transform: rotate(0); height: 300px;}
    50% {transform: rotate(180deg); height: 300px;}
    100% {transform: rotate(180deg); height: 0;}
}
@keyframes bar2 {
    0% {transform: rotate(0); height: 0;}
    25% {transform: rotate(0); height: 200px;}
    50% {transform: rotate(180deg); height: 200px;}
    100% {transform: rotate(180deg); height: 0;}
}
/* contact */
#contact {
    height: 100%;
}
#contact_title {
    font-size: 120px;
    margin: 0 0 50px 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}
#contact_top {
    display: flex;
    align-items: center;
}
#contact_top_bar {
    display: block;
    width: 53%;
    height: 3px;
    background-color: black;
}
#contact_top_title > h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    text-shadow: 1px 2px 5px rgb(0, 0, 0, 0.5);
}
#contact_top_title > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}
#contact_bottom {
    position: relative;
}
#contact_bottom > ul:first-child {
    width: 450px;
}
.contact_bottom_list:first-child > a {
    display: block;
    position: absolute;
    bottom: 0; right: 0;
}
.contact_bottom_list:first-child > a > img:last-child {
    width: 80px;
    display: block;
}
.contact_bottom_list {
    width: 450px; height: 90px;
    border-bottom: 2px dotted black;
    margin-bottom: 50px;
    position: relative;
}
.contact_bottom_list > span {
    position: absolute;
    bottom: 0; right: 0;
}
.contact_bottom_list > span > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
#contact_bottom > ul:last-child {
    position: absolute;
    bottom: 0; right: 0;
    display: flex;
}
#contact_bottom > ul:last-child > li:last-child > a > img {
    margin-left: 40px;
}
#contact_bottom > ul > li > img {
    width: 80px;
}
#contact_bottom > ul:last-child > li > a > img {
    width: 80px;
    opacity: 0.6;
    transition: 0.5s ease;
}
#contact_bottom > ul:last-child > li > a > img:hover {
    opacity: 1;
}

/* 애니메이션 */
@keyframes html {
    0% {width: 0%;}
    100% {width: 85%;}
}

@keyframes css {
    0% {width: 0;}
    100% {width: 80%;}
}

@keyframes js {
    0% {width: 0;}
    100% {width: 60%;}
}

@keyframes jq {
    0% {width: 0;}
    100% {width: 65%;}
}

@keyframes ps {
    0% {width: 0;}
    100% {width: 45%;}
}

@keyframes ai {
    0% {width: 0;}
    100% {width: 35%;}
}

@keyframes react {
    0% {width: 0;}
    100% {width: 40%;}
}

@keyframes bg1 {
    0% {opacity: 0.1; transform: translateX(100%);}
    100% {opacity: 1; transform: translateX(20%);}
}

@keyframes bg2 {
    0% {opacity: 0.1; transform: scale(1);}
    50% {opacity: 0.5; transform: scale(3);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes bg3 {
    0% {opacity: 0.1; width: 0%;}
    100% {opacity: 1; width: 80%;}
}

@keyframes stroke {
    0%   {
        fill: rgb(255, 255, 255); stroke: rgb(160, 160, 160);
        stroke-dashoffset: 20%; stroke-dasharray: 0 50%; stroke-width: 1;
    }
    70%  {fill: rgb(255, 255, 255); stroke: rgb(156, 156, 156); stroke-width: 2;}
    80%  {fill: rgb(255, 255, 255); stroke: rgb(148, 148, 148); stroke-width: 3; }
    100% {
        fill: rgb(58, 58, 58, 0.6); stroke: rgb(255, 255, 255); 
        stroke-dashoffset: -20%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

@keyframes topArrow {
    0% {transform: translateY(0px);}
    50% {opacity: 0.5;}
    100% {transform: translateY(-10px); opacity: 0;}
}

/* 미디어 쿼리(반응형) */
@media (max-width: 1400px) {
    #skill_left {padding: 0 60px 0 20px; width: 500px;}
    #skill_right {padding: 0 20px 0 0; width: 500px;}
    .skill_img {width: 90px;}
    .skill_desc {left: 100px;}
    .skill_percent {bottom: 35px; right: 0;}

    .standard_desc > img {width: 47px;}
    .responsive_desc > img {width: 47px;}
    .mega_desc > img {width: 47px; margin-right: 13px;}
}
@media (max-width: 1200px) {
    #introduction_left_border {width: 400px; height: 400px;}
    #introduction_left_img {width: 400px; height: 400px;}
    #introduction_left {}
    #introduction_left_imgWrap {width: 430px; height: 430px;}
    #introduction_right {margin-right: 30px;}
    #introduction_right_title {text-align: center; margin: 0 0 20px 0;}
    #introduction_right_bar {width: 100%;}
    #introduction_right_detail {padding: 15px; width: 103%;}
    #introduction_right_btn {margin: 0 auto;}
    #introduction_right_desc {text-align: center;}

    .skill_img {width: 70px;}
    #skill_jq > .skill_desc {bottom: -25px;}
    .bar_wrap > div {width: 355px;}
    .skill_percent {bottom: 25px; font-size: 20px;}

    .standard_desc em {font-size: 30px;}
    .standard_desc > img {margin-right: 10px; width: 40px;}

    .responsive_desc em {font-size: 30px;}
    .responsive_desc > img {margin-right: 10px; width: 40px;}
    #responsive_img_tablet {bottom: 50px;}
    #responsive_img_mobile {bottom: 50px;}

    .mega_desc em {font-size: 30px;}
    .mega_desc > img {margin-right: 6px; width: 40px;}
    #mega_img_tablet {bottom: 80px;}
    #mega_img_mobile {bottom: 80px;}

    #intro {padding: 90px 0;}
    #skills {padding: 90px 0;}
    #slide_wrap {padding: 90px 0;}
    #the_others {padding: 90px 0;}
    #contacts {padding: 90px 0;}

    .animation_box {width: 400px; height: 400px;}
    .animation_text > p {font-size: 20px;}
    .animation_main {height: 84%;}

    .row:nth-child(1) .circle2:nth-child(1) {display: none;}
    .row:nth-child(1) .circle2:nth-child(2) {display: none;}
    .row:nth-child(2) .circle2:nth-child(1) {display: none;}
    .row:nth-child(2) .circle2:nth-child(2) {display: none;}
    .row:nth-child(3) .circle2:nth-child(1) {display: none;}
    .row:nth-child(3) .circle2:nth-child(2) {display: none;}
    .row:nth-child(4) .circle2:nth-child(1) {display: none;}
    .row:nth-child(4) .circle2:nth-child(2) {display: none;}
    .row:nth-child(5) .circle2:nth-child(1) {display: none;}
    .row:nth-child(5) .circle2:nth-child(2) {display: none;}

    .bar {height: 200px; animation: bar2 2s ease-in-out infinite;}
}
@media (max-width: 1024px) {
    #header {height: 800px;}
    #header_title > svg > text {font-size: 160px;}
    #header_title {left: -15px; top: 320px;}

    #prev {width: 50px;}
    #next {width: 50px;}

    .standard_desc em {font-size: 25px;}
    .standard_desc > span {font-size: 20px;}
    .standard_desc > img {width: 35px;}
    #standard_title {font-size: 100px;}
    #standard_btn > a {font-size: 25px;}

    .responsive_desc em {font-size: 25px;}
    .responsive_desc > span {font-size: 20px;}
    .responsive_desc > img {width: 35px;}
    #responsive_title {font-size: 100px;}
    #responsive_btn > a {font-size: 25px;}

    .mega_desc em {font-size: 25px;}
    .mega_desc > span {font-size: 20px;}
    .mega_desc > img {width: 35px;}
    #mega_title {font-size: 100px;}
    #mega_btn > a {font-size: 25px;}
    #mega_img_tablet {bottom: 50px;}
    #mega_img_mobile {bottom: 50px;}

    #intro_title {font-size: 100px; margin: 0 0 30px 40px;}
    #introduction {flex-direction: column; align-items: center;}
    #introduction_right {width: 630px; margin: 0;}
    #introduction_right_desc {font-size: 25px;}
    #introduction_right_title {margin: 30px 0 20px 0; font-size: 60px;}
    #introduction_right_detail {border-radius: 10px; width: 100%; height: 90%; margin-top: 30px;}
    #introduction_right_title {margin: 20px 0;}

    #skill_title {font-size: 100px;}
    .skill_img {width: 60px;}
    .bar_wrap > div {width: 322px;}
    .skill_percent {bottom: 21px;}
    .skill_desc {bottom: -30px;}
    #skill_jq > .skill_desc {bottom: -55px;}
    .skill_list {margin-bottom: 60px;}

    #intro {padding: 80px 0;}
    #skills {padding: 80px 0;}
    #slide_wrap {padding: 80px 0;}
    #the_others {padding: 80px 0;}
    #contacts {padding: 80px 0;}

    #contact_title {font-size: 100px; margin: 0 0 30px 40px;}
    #contact_top_title > h2 {font-size: 80px;}
    #contact_bottom > ul > li > img {width: 70px;}
    .contact_bottom_list:first-child > a > img:last-child {width: 70px;}
    #contact_bottom > ul:last-child > li > a > img {width: 70px;}
    .contact_bottom_list > span > a {font-size: 25px;}

    #others_title {font-size: 100px;}
}
@media (max-width: 960px) {
    #header {height: 750px;}
    #header_title {left: -4px; top: 296px;}
    #header_title > svg > text {font-size: 140px;}

    #slide_nav .nav {width: 20px; height: 20px;}

    #standard {flex-direction: column; align-items: center;}
    #standard_title {font-size: 80px; margin: 0; text-align: center;}
    #standard_left {margin: 0; text-align: center; padding: 15px 0 25px 0;}
    #standard_right {padding: 0; width: 70%;}
    #standard_img > img {width: 70%;}
    #standard_btn {width: 100%; display: flex; justify-content: center;}
    #standard_btn > a {font-size: 22px; width: 70%;}

    #responsive {flex-direction: column; align-items: center;}
    #responsive_title {font-size: 80px; margin: 0; text-align: center;}
    #responsive_left {margin: 0; text-align: center; padding: 15px 0 25px 0;}
    #responsive_right {padding: 0; width: 70%;}
    #responsive_left img {width: 70%;}
    #responsive_btn {width: 100%; display: flex; justify-content: center;}
    #responsive_btn > a {font-size: 22px; width: 70%;}
    #responsive_img_tablet {bottom: 10px; left: 35px;}
    #responsive_img_mobile {bottom: 10px; right: 100px;}

    #mega {flex-direction: column; align-items: center;}
    #mega_title {font-size: 80px; margin: 0; text-align: center;}
    #mega_left {margin: 0; text-align: center; padding: 15px 0 25px 0;}
    #mega_right {padding: 0; width: 70%;}
    #mega_left img {width: 70%;}
    #mega_btn {width: 100%; display: flex; justify-content: center;}
    #mega_btn > a {font-size: 22px; width: 70%;}
    #mega_img_tablet {bottom: 10px; left: 35px;}
    #mega_img_mobile {bottom: 10px; right: 100px;}
    .mega_desc > img {margin-right: 10px;}

    #intro_title {font-size: 80px; text-align: center; margin: 0;}
    #introduction_left {margin-top: 30px;}
    #introduction_right_desc {font-size: 22px;}
    #introduction_right_title {font-size: 55px;}

    #skill {flex-direction: column; align-items: center;}
    #skill_title {font-size: 80px; margin: 0; text-align: center;}
    #skill_left {padding: 0; margin: 30px 0 40px 0;}
    #skill_right {padding: 0;}
    .bar_wrap > div {width: 400px;}

    #intro {padding: 70px 0;}
    #skills {padding: 70px 0;}
    #slide_wrap {padding: 70px 0;}
    #the_others {padding: 70px 0;}
    #contacts {padding: 70px 0;}

    #others_title {font-size: 80px; margin: 0 0 30px 0; text-align: center;}
    #animation_wrap {flex-direction: column; width: 100%;}
    .animation_box:nth-child(1) {margin: 0 0 25px 0;}
    .animation_box:nth-child(3) {margin: 0 0 25px 0;}

    #contact_title {font-size: 80px; margin: 0 0 30px 0; text-align: center;}
    #contact_top_bar {display: none;}
    #contact_top {display: block;}
    #contact_top_title > h2 {text-align: center; margin-bottom: 30px;}
    #contact_top_title > p {text-align: center;}
    #contact_bottom {display: flex; flex-direction: column; align-items: center;}
    #contact_bottom > ul:first-child {margin: 40px 0;}
    #contact_bottom > ul:last-child {position: static;}
    #contact_bottom > ul:first-child > li:last-child {margin: 0;}
    .contact_bottom_list {height: 100%;}
}
@media (max-width: 768px) {
    #header {height: 600px;}
    #header_title {top: 223px;}
    #header_title > svg > text {font-size: 100px;}
    #menu_nav > ul > li > a {font-size: 23px;}
    #menu_nav > ul > li {margin: 0 10px;}
    #menu_nav > ul > li > a > span::before {top: 11px; height: 25px;}

    #standard_title {font-size: 70px;}
    #standard_btn > a {font-size: 20px;}

    #responsive_title {font-size: 70px;}
    #responsive_btn > a {font-size: 20px;}
    #responsive_img_tablet {left: 20px;}
    #responsive_img_mobile {right: 60px;}
    
    #mega_title {font-size: 70px;}
    #mega_btn > a {font-size: 20px;}
    .mega_desc > img {margin-right: 6px;}
    #mega_img_tablet {left: 20px;}
    #mega_img_mobile {right: 60px;}

    #intro_title {font-size: 70px;}
    #introduction_right {width: 100%;}
    #introduction_right_bar {width: 90%; margin: 0 auto 30px auto;}
    #introduction_right_detail {overflow-y: auto; width: 90%; height: 400px; margin: 30px auto 0 auto;}
    #introduction_right_detail::-webkit-scrollbar {width: 10px;}
    #introduction_right_detail::-webkit-scrollbar-thumb {background-color: rgb(0, 0, 0, 0.5); border-radius: 10px;}
    #introduction_right_detail::-webkit-scrollbar-track {background-color: rgb(0, 0, 0, 0.1); border-radius: 10px;}
    #introduction_right_title {font-size: 50px;}
    #introduction_right_desc {font-size: 20px;}
    
    #skill_title {font-size: 70px;}
    #skill_left > h3 {font-size: 22px;}
    #skill_left > p {font-size: 18px;}
    #skill_right > h3 {font-size: 22px;}
    #skill_right > p {font-size: 18px;}
    .skill_percent {font-size: 18px;}

    #intro {padding: 60px 0;}
    #skills {padding: 60px 0;}
    #slide_wrap {padding: 60px 0;}
    #the_others {padding: 60px 0;}
    #contacts {padding: 60px 0;}

    #others_title {font-size: 70px;}

    #contact_title {font-size: 70px;}
    #contact_top_title > h2 {font-size: 75px;}
    #contact_bottom > ul > li > img {width: 65px;}
    .contact_bottom_list:first-child > a > img:last-child {width: 65px;}
    #contact_bottom > ul:last-child > li > a > img {width: 65px;}
    .contact_bottom_list > span > a {font-size: 20px;}
}
@media (max-width: 600px) {
    #header {height: 500px;}
    #header_title {top: 166px;}
    #header_title > svg.tit1 {display: none;}
    #header_title > svg.tit2 {display: block; height: 85px;}
    #header_title > svg.tit3 {display: block; height: 85px;}
    #header_title > svg > text {font-size: 85px;}
    #menu_btn {top: 14px; right: 16px;}
    #menu_btn > a {width: 30px; height: 30px;}
    #menu_btn > a > span {top: 0; width: 30px; height: 4px;}
    #menu_btn > a > span::before {top: 8px; width: 30px; height: 4px;}
    #menu_btn > a > span::after {bottom: -16px; width: 30px; height: 4px;}
    #menu_nav {height: 57px;}
    #menu_nav > ul {top: 17px; right: 61px;}
    #menu_nav > ul > li > a {font-size: 19px; width: 100%; height: 100%; display: block; text-align: center;}
    #menu_nav > ul > li {margin: 0 8px;}
    #menu_nav > ul > li > a > span::before {top: 9px; height: 20px;}
    #menu_btn > a > span.live::before {transform: translateY(95%) rotate(-50deg);}
    #menu_btn > a > span.live::after {transform: translateY(-95%) rotate(50deg);}

    #prev {display: none;}
    #next {display: none;}

    #standard_title {font-size: 53px;}
    #standard_right {width: 90%;}

    #responsive_title {font-size: 53px;}
    #responsive_right {width: 90%;}
    #responsive_img_mobile {right: 45px;}

    #mega_title {font-size: 53px;}
    #mega_right {width: 90%;}
    #mega_img_mobile {right: 45px;}
    .mega_desc > img {margin-right: 5px;}

    #intro_title {font-size: 53px;}
    #introduction_right_desc {font-size: 18px;}
    #introduction_right_title {font-size: 45px;}
    #introduction_left_border {width: 300px; height: 300px;}
    #introduction_left_img {width: 300px; height: 300px;}
    #introduction_left_imgWrap {width: 330px; height: 330px;}
    #introduction_right_detail {height: 350px;}
    .introduction_right_detail_desc h3 {font-size: 25px;}
    .introduction_right_detail_desc ul li {font-size: 18px;}
    #introduction_right_detail_btn {width: 20px; height: 20px; line-height: 20px;}
    #introduction_right_btn > span > span {font-size: 18px;}
    #introduction_right_btn > span > span:last-child {font-size: 18px; margin-left: 22px;}
    #introduction_right_btn:hover > span {transform: translateX(10px);}

    #skill_title {font-size: 53px;}
    #skill_left {width: 400px;}
    #skill_right {width: 400px;}
    .bar_wrap > div {width: 300px;}
    .skill_percent {font-size: 16px;}
    #skill_left > h3 {font-size: 20px;}
    #skill_right > h3 {font-size: 20px;}

    #intro {padding: 50px 0;}
    #skills {padding: 50px 0;}
    #slide_wrap {padding: 50px 0;}
    #the_others {padding: 50px 0;}
    #contacts {padding: 50px 0;}

    #others_title {font-size: 53px;}

    #contact_title {font-size: 53px;}
    #contact_top_title > h2 {font-size: 70px;}
    #contact_bottom > ul > li > img {width: 60px;}
    .contact_bottom_list:first-child > a > img:last-child {width: 60px;}
    #contact_bottom > ul:last-child > li > a > img {width: 60px;}

    #contact_bottom > ul:first-child {width: 100%;}
    .contact_bottom_list {width: 100%;}
}
@media (max-width: 480px) {
    #header {height: 400px;}
    #header_title {left: -5px; top: 126px;}
    #header_title > svg > text {font-size: 65px;}
    #header_title > svg.tit2 {display: block; height: 75px;}
    #header_title > svg.tit3 {display: block; height: 75px;}
    #top_arrow_wrap {width: 22px; height: 22px;}
    #top_arrow_wrap > img {width: 22px; height: 22px;}
    #top_button > a {width: 30px; height: 30px; font-size: 15px;}
    #menu_btn {display: none;}
    #menu_nav {transform: translateY(-80px); background-color: rgb(0, 0, 0, 0);}
    #menu_nav.live2 {transform: translateY(0);}
    #menu_nav > ul > li > a > span {display: inline-block;}
    #menu_nav > ul > li {background-color: white; padding: 5px 0; width: 33.1%; border: 1px solid  black; margin: 0; float: left;}
    #menu_nav > ul > li:nth-child(1) {border-bottom: 0; border-top: 0; border-left: 0; border-right: 0;}
    #menu_nav > ul > li:nth-child(2) {border-bottom: 0; border-top: 0; border-right: 0;}
    #menu_nav > ul > li:nth-child(3) {border-bottom: 0; border-top: 0; border-right: 0;}
    #menu_nav > ul > li:nth-child(4) {width: 49.75%; border-right: 0; border-left: 0;}
    #menu_nav > ul > li:nth-child(5) {width: 49.75%; border-right: 0; }
    #menu_nav > ul > li > a {width: 100%; height: 100%; display: block; text-align: center;}
    #menu_nav > ul {position: static; display: block; overflow: hidden;}
    #standard_btn > a {height: 62%; line-height: 31px;}
    #standard_title {font-size: 37px;}
    .standard_desc em {font-size: 20px;}
    .standard_desc > span {font-size: 18px;}
    .standard_desc > img {width: 30px;}
    #standard_right {width: 100%;}
    #standard_right > ul {margin: 0 0 35px 0;}

    #responsive_btn > a {height: 62%; line-height: 31px;}
    #responsive_title {font-size: 37px;}
    .responsive_desc em {font-size: 20px;}
    .responsive_desc > span {font-size: 18px;}
    .responsive_desc > img {width: 30px;}
    #responsive_right {width: 100%;}
    #responsive_right > ul {margin: 0 0 35px 0;}

    #mega_btn > a {height: 62%; line-height: 31px;}
    #mega_title {font-size: 37px;}
    .mega_desc em {font-size: 20px;}
    .mega_desc > span {font-size: 18px;}
    .mega_desc > img {width: 30px; margin-right: 10px;}
    #mega_right {width: 100%;}
    #mega_right > ul {margin: 0 0 35px 0;}

    #intro_title {font-size: 37px;}
    #introduction_right_title {font-size: 40px;}
    #introduction_right_detail {height: 300px;}

    #skill_title {font-size: 37px;}
    .skill_img {width: 50px;}
    .bar_wrap > div {width: 230px; height: 10px;}
    .skill_desc {left: 68px; width: 240px;}
    #skill_left {width: 300px;}
    #skill_right {width: 300px;}
    #skill_css > .skill_desc {bottom: -55px;}
    #skill_js > .skill_desc {bottom: -55px;}
    #skill_react > .skill_desc {bottom: -55px;}
    .skill_list {margin-bottom: 70px;}

    #intro {padding: 40px 0;}
    #skills {padding: 40px 0;}
    #slide_wrap {padding: 40px 0;}
    #the_others {padding: 40px 0;}
    #contacts {padding: 40px 0;}

    #others_title {font-size: 37px;}
    .animation_box {width: 300px; height: 300px;}
    .animation_main {height: 78%;}
    .animation_text > p {font-size: 16px;}

    .row:nth-child(1) .circle2:nth-child(3) {display: none;}
    .row:nth-child(1) .circle2:nth-child(4) {display: none;}
    .row:nth-child(2) .circle2:nth-child(3) {display: none;}
    .row:nth-child(2) .circle2:nth-child(4) {display: none;}
    .row:nth-child(3) .circle2:nth-child(3) {display: none;}
    .row:nth-child(3) .circle2:nth-child(4) {display: none;}
    .row:nth-child(4) .circle2:nth-child(3) {display: none;}
    .row:nth-child(4) .circle2:nth-child(4) {display: none;}
    .row:nth-child(5) .circle2:nth-child(3) {display: none;}
    .row:nth-child(5) .circle2:nth-child(4) {display: none;}

    #contact_title {font-size: 37px;}
    #contact_top_title > h2 {font-size: 65px;}
    #contact_bottom > ul > li > img {width: 55px;}
    .contact_bottom_list:first-child > a > img:last-child {width: 55px;}
    #contact_bottom > ul:last-child > li > a > img {width: 55px;}
    .contact_bottom_list > span > a {font-size: 18px;}
}