@charset "utf-8";

/* 레이아웃 */
#header {width: 100%; height: 70px; background: rgba(0,0,0,0); border-bottom: 1px solid #c6c6c6;}

/* 로우 영역 */
.row {padding: 0 28px;}

/* 가운데 영역 */
.container {width: 1224px; background: rgba(0,0,0,0); margin: 0 auto;}

/*헤더 영역 */
.header {position: relative;}
.header h1 {float: left;}
.header h1 a {}
.header h1 a em {display: block; padding: 19px 5px 10px 0;}
.header h1 a em img {width: 157px;}
.header h1 a strong {display: block; position: absolute; left: 175px; top: 28px;}
.header h1 a strong img {width: 117px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav ul li {float: left; width: 104px; border-right: 1px solid #c6c6c6; text-align: center;}
.header .nav ul li a {display: block; height: 70px; line-height: 70px; font-weight: 700; color: #444; font-size: 17px;}
