/* 컨테이너 */
.container {width: 1000px; margin: 0 auto;}

/* 로우 */
.row {position: relative; margin: 0 20px;}

/* 헤더 */
#header .header-data {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #A8A8A8;
    display: block;
    padding-top: 30px;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#header .header-id {
    position: absolute;
    right: 0; bottom: 0;
    width: 40px; height: 40px;
    background: linear-gradient(180deg, #A4A9B5 0%, rgba(164, 169, 181, 0) 100%), #C4C4C4;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

/* 베스트 뮤직 */
#bestM .best .bestM-title .bt-stit {
    font-weight: 500;
    font-size: 12px;
    color: #DA5E7C;
}
#bestM .best .bestM-title .bt-tit {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 5px;
}
#bestM .best .bestM-title .bt-desc {
    font-weight: 300;
    font-size: 22px;
    color: #818181;
    margin-bottom: 10px;
}

/* 최신 뮤직 */
#recentM h2 {
    font-weight: bold;
    font-size: 20px;
    border-top: 1px solid #D5D5D5;
    padding: 10px 0;
    margin-top: 15px;
    overflow: hidden;
}
#recentM .recent {
    float: left;
    width: 49%;
    padding-right: 2%;
}
#recentM .recent:last-child {
    padding-right: 0;
}
#recentM .recent .recentM-title .rt-stit {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    display: block;
}
#recentM .recent .recentM-title .rt-tit {
    font-weight: 500;
    font-size: 15px;
    color: #908F94;
}

/* media query */
@media (max-width: 1020px) {
    .container {width: 100%;}
}