/* 컨테이너 */
.container {width: 1000px; margin: 0 auto;}

/* 로우 */
.row {position: relative; margin: 0 20px;}

/* 헤더 */
#header .header-data {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #A8A8A8;
    display: block;
    padding-top: 30px;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}
#header .header-id {
    position: absolute;
    right: 0; bottom: 0;
    width: 40px; height: 40px;
    background: linear-gradient(180deg, #A4A9B5 0%, rgba(164, 169, 181, 0) 100%), #C4C4C4;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
}

/* media query */
@media (max-width: 1020px) {
    .container {width: 100%;}
}